apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  labels:
    app: postgres
    component: database
type: Opaque
stringData:
  postgres-user: "postgres"
  postgres-password: "postgres123"
  postgres-db: "springbootdb"